.ourteam-main {
  background-color: var(--bg-color);
  padding: 4rem 20rem;
}

/* ========== DESKTOP GRID ========== */
.desktop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  justify-items: center;
  align-items: start;
  justify-content: center;
}
.ourteam-heading h2 {
  font-family: sarabun;
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 0rem;
  text-align: center;
}

.ourteam-card {
  position: relative;
  width: 220px;
  height: 220px;
  background: #ffffff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  overflow: visible;
}

.ourteam-card:hover {
  border-radius: 10px;
  height: 260px;
}

.ourteam-img {
  width: 100%;
  height: 100%;
  transition: 0.6s;
}

.ourteam-card:hover .ourteam-img {
  transform: translateY(-60px);
}

.ourteam-img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  filter: grayscale(100%);
}

.ourteam-card:hover img {
  border-radius: 10px;
  border: 2px solid #8e1616;
  filter: grayscale(0%);
}

.ourteam-caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}

.ourteam-card:hover .ourteam-caption {
  opacity: 1;
}

.ourteam-caption h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: #000000;
  font-weight: normal;
}

.ourteam-caption p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.ourteam-social-links a {
  color: black;
  margin: 0 8px;
  font-size: 18px;
  transition: 0.6s;
}

.ourteam-social-links a:hover {
  color: #8e1616;
}

/* ========== MOBILE CAROUSEL ========== */
@media screen and (max-width: 768px) {
  .ourteam-main {
    display: none;
  }
}
